<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU3s-0-4ptE4L7mdF4slwRI4CNYxFO4js</string>
	<key>GCM_SENDER_ID</key>
	<string>433828119900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kopuro.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kopuro-5fe2a</string>
	<key>STORAGE_BUCKET</key>
	<string>kopuro-5fe2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433828119900:ios:76fab45f9e5a777b102d99</string>
</dict>
</plist>